html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face {
    font-family: 'Clock-Face';
    src: url(digital.ttf);
}

#topleft {
    left: 0vw;
    top: 0vh;
    width: calc((1/3)*100vw);
    height: calc((1/2)*100vh);
    background: black;
    position: absolute;
}

#topmiddle {
    left: calc((1/3)*100vw);
    top: 0vh;
    width: calc((1/3)*100vw);
    height: calc((1/2)*100vh);
    background: gray;
    position: absolute;
}

#topright {
    left: calc((2/3)*100vw);
    top: 0vh;
    width: calc((1/3)*100vw);
    height: calc((1/2)*100vh);
    background: black;
    position: absolute;
}

#botleft {
    left: 0vw;
    top: 50vh;
    width: calc((1/3)*100vw);
    height: calc((1/2)*100vh);
    background: gray;
    position: absolute;
}

#botmiddle {
    left: calc((1/3)*100vw);
    top: 50vh;
    width: calc((1/3)*100vw);
    height: calc((1/2)*100vh);
    background: black;
    position: absolute;
}

#botright {
    left: calc((2/3)*100vw);
    top: 50vh;
    width: calc((1/3)*100vw);
    height: calc((1/2)*100vh);
    background: gray;
    position: absolute;
}

#wheelone {
    background: black;
    height: 3vw;
    width: 1.5vh;
    position: absolute;
    left: 10vw;
    top: 10vh;
    transform: rotate(0deg);
}

#wheeltwo {
    background: black;
    height: 3vw;
    width: 1.5vh;
    position: absolute;
    left: 20vw;
    top: 10vh;
    transform: rotate(0deg);
}

#wheelthree {
    background: black;
    height: 3vw;
    width: 1.5vh;
    position: absolute;
    left: 10vw;
    top: 30vh;
}

#wheelfour {
    background: black;
    height: 3vw;
    width: 1.5vh;
    position: absolute;
    left: 20vw;
    top: 30vh;
}

#spedometer {
    color: white;
    font-size: 30vh;
    font-family: 'Clock-Face';
    font-weight: thin;
    text-align: center;
    transform: translate(-50%, -50%);
    top: 45%;
    left: 50%;
    position: relative;
}

#mph {
    color: white;
    font-size: 5vh;
    font-family: "Courier New", Courier, monospace;
    font-weight: thin;
    text-align: center;
    transform: translate(-50%, -50%);
    top: 25%;
    left: 50%;
    position: relative;
}

#voltage {
    background: white;
    position: relative;
    top: 0;
    height: 20%;
}

#voltext {
    font-size: 10vh;
    float: left;
    font-family: Arial;
}

#volts {
    font-size: 10vh;
    float: right;
    font-family: Arial;
}

#trip {
    background: white;
    position: relative;
    top: 0;
    height: 20%;
}

#ampss {
  background: blue;
    position: relative;
    top: 0;
    height: 20%;
}

#ampdraw {
    font-size: 10vh;
    float: left;
    font-family: Arial;
}

#ampdraws {
    font-size: 10vh;
    float: right;
    font-family: Arial;
}

#alltime {
    background: blue;
    position: relative;
    top: 0;
    height: 20%;
}

#triptext {
    font-size: 10vh;
    float: left;
    font-family: Arial;
}

#triptext1 {
    font-size: 10vh;
    float: right;
    font-family: Arial;
}

#alltimetext {
    font-size: 10vh;
    position: relative;
}

#container{
    position: relative;
    height:100%;
    width: 100%;
}

#time{
  background: blue;
  position: relative;
  top: 0;
  height: 12.5%;
}

#estTime{
  font-size: 6vh;
  float: left;
  font-family: Arial;
}

#estTimes{
  font-size: 6vh;
  font-family: Arial;
  float: right;
  
}

#miles{
  background: white;
  position: relative;
  top: 0;
  height: 12.5%;
}

#estMile{
  font-size: 6vh;
  float: left;
  font-family: Arial;
}

#estMiles{
  font-size: 6vh;
  font-family: Arial;
  float: right;
  
}