<!doctype html>
<html>
  <head>
    <!--IMPORT SOCKET.IO-->
    <script src="socket.io/socket.io.js" charset="utf8" ></script>
    <!--IMPORT STYLESHEET-->
    <link rel="stylesheet" type="text/css" href="/assets/small.css">
    <!--IMPORT JQUERY-->
    <script type="text/javascript" src="/assets/jquery-3.1.1.min.js"></script>
    <!--IMPORT HIGH CHARTS-->
    <script type="text/javascript" src="/assets/highcharts.js"></script>
    <script type="text/javascript" src="/assets/exporting.js"></script>
    <!--IMPORT LOCAL JS-->
    <script type="text/javascript" src="/assets/small.js"></script>
  </head>

  <body onload="init()" style="background: #cecece">

  <div id="top">
    <div id="speed">00</div>
    <div id="mph">MPH</div>
    <div id="wheelOne"></div>
    <div id="wheelTwo"></div>
  </div>

  <div id="midTop">
    <div id="container">asd</div>
  </div>

  <div id="midBot">
    <div id="time">
      <a id="ttg" class="left">T:</a>
      00:00.0
    </div>
    <div id="distance">
      <a class="left">D:</a>
      0000.00
    </div>
    <div id="mainV">Main: 00.00</div>
    <div id="auxV"> Aux:  00.00</div>
  </div>

  <div id="bot">
    <div id="left" onclick="tsl();"></div>
    <a id="haz" onclick="tsh();"><img id="hazard" src="/assets/red.png"></a>
    <div id="right" onclick="tsr();"></div>
  </div>

</html>
