<!doctype html>
<html>
  <head>
    <script type="text/javascript" src="/assets/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/assets/home.js"></script>
  </head>

<!--THIS IS THE HOMEPAGE OF THE WEBSOCKET-->
<!--IT REDIRECTS TO THE ACTUAL DASH BASED-->
<!--ON THE SCREEN SIZE-->
<!--IF WIDTH is < 1000px, uses 7HTML-->
<!--ELSE, uses 15HTML-->

  <body onload="button();">WOW <img src=
    '/assets/johnsux.png'></body>

</html>
