doctype html
html
  head
    title Learning WebSockets with Socket.io
  body
    h1 Messeage Board
    ul#messages
  script(src='/socket.io/socket.io.js')
  script.
    var socket = io.connect('http://localhost:1000')

    socket.on('news', function (data) {
      var li = document.createElement('li')
        , text = document.createTextNode('News: ' + data.msg + ' (' + data.count + ')' )

      li.appendChild(text)
      document.getElementById('messages').appendChild(li)
    })

    socket.on('private', function (data) {
      var li = document.createElement('li')
        , text = document.createTextNode('Private: ' + data.msg)

      li.appendChild(text)
      document.getElementById('messages').appendChild(li)

      socket.emit('private', {msg: 'Thank you for your message'})
    })
