/* !!! RESET DEFAULT CSS !!!*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* !!! RESET DEFAULT CSS !!!*/

/*IMPORT FONT*/
@font-face {
    font-family: 'Clock-Face';
    src: url(digital.ttf);
}
/*IMPORT FONT*/

#top{
  top: 0px;
  left: 0px;
  height: 25vh;
  width: 100%;
  background: #00a0ff;
  text-align: center;
}

#midTop{
  top: 25vh;
  left: 0px;
  height: 25vh;
  width: 100vw;
}

#midBot{
  top: 50vh;
  left: 0px;
  height: 25vh;
  width: 100%;
  background: #00a0ff;
}

#speed{
  position: relative;
  font-size: 23vh;
  font-family: 'Clock-Face';
}
#mph{
  position: absolute;
  font-size: 4vh;
  left: 50vw;
  top: 19vh;
  transform: translateX(-50%);
  font-family: sans-serif;
}

#bot{
  top: 75vh;
  left: 0px;
  height: 25vh;
  width: 100%;
}

#left{
  position: fixed;
  top: 87.5vh;
  left: -9vw;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border: solid 150px;
  margin: 0px;
  border-color: transparent #ffbf00 transparent transparent;
}

#right{
  position: fixed;
  top: 87.5vh;
  right: -9vw;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border: solid 150px;
  margin: 0px;
  border-color: transparent transparent transparent #ffbf00;
}

#mainV{
  height: 12.5vh;
  width: 50vw;
  position: absolute;
  top: 50vh;
  left: 50vw;
  font-size: 5.5vh;
  font-family: arial;
  vertical-align: middle;
line-height: calc((4/24)*100vh);
text-align: center;
}
#auxV{
  position: absolute;
  height: 12.5;
  width: 50%;
  top: 62.5vh;
  left: 50vw;
  font-size: 5.5vh;
  font-family: arial;
  vertical-align: top ;
line-height: calc((5/48)*100vh);
text-align: center;
}

#time{
  height: 12.5vh;
  width: 50%;
  background: #00a0ff;
  top: 50vh;
  left: 0px;
  position: absolute;
  font-size: 8vh;
  font-family: 'Clock-Face';
  text-align: right;
  vertical-align: middle;
  line-height: calc((4/24)*100vh);
}

#distance{
  height: 12.5vh;
  width: 50%;
  background: #00a0ff;
  top: 62.5vh;
  left: 0px;
  position: absolute;
  font-size: 8vh;
  font-family: 'Clock-Face';
  text-align: right;
}

.left{
  float:left;
}

#wheelOne{
  position: absolute;
  top: 5vh;
  right: 12vw;
  background: black;
  width: 3vw;
  height: 15vh;
}

#wheelTwo{
  position: absolute;
  top: 5vh;
  left: 12vw;
  background: black;
  width: 3vw;
  height: 15vh;
}

#container{
  position: absolute;
  top: 25vh;
  left: 0px;
  height: 25vh;
  width: 100vw;
}

#hazard{
  position: absolute;
  top: 82.5vh;
  left: 50vw;
  transform: translateX(-50%);
  height: 10vh;
  width: 10vh;
}

#haz{
  width: 10vh;
  height: 10vh;
}
